In [11]:
from datetime import datetime, timedelta, time
import pandas as pd
from matplotlib import pyplot as plt
import mysql.connector
from mysql.connector import errorcode

from sql_functions import *

In [12]:
# Setup Config
config = {
  'host':'rectify-server.mysql.database.azure.com',
  'user':'rectifyhackathon@rectify-server',
  'password':'HackCambridge1',
  'database':'reward'
}

In [13]:
# Turn 'users' table to df
users_to_df(config)

   userID    name  consecutive_days
0       1  RaspPi                 1
1       2  BluePi                 0

In [14]:
# Turn 'users' table to df
items_to_df(config)

   item_ID     item_name  correct  userID                time
0       21           cup        1       1 2020-01-19 06:00:58
1       22        orange        1       1 2020-01-19 06:00:58
2       23  water_bottle        0       2 2020-01-19 06:00:59

In [16]:
# Clear all items and reset consecutive days counter for (userID, config)
clear_items(1, config)
clear_items(2, config)

Items Cleared.
Items Cleared.

In [17]:
# add item to list for a user (item_name, correct, userID, config)
add_item('cup', 1,  1, config)
add_item('orange', 1, 1, config)
add_item('water_bottle', 0, 2, config)

Item Added.
Item Added.
Item Added.

In [7]:
items_to_df(config)

   item_ID     item_name  correct  userID                time
0       21           cup        1       1 2020-01-19 06:00:58
1       22        orange        1       1 2020-01-19 06:00:58
2       23  water_bottle        0       2 2020-01-19 06:00:59

In [18]:
# Check if ALL items correctly binned in the last 'interval' minutes (userID, interval, config)
check_clean(1, 5, config)
check_clean(2, 5, config)
users_to_df(config)

Done.
Done.

   userID    name  consecutive_days
0       1  RaspPi                 1
1       2  BluePi                 0

In [19]:
# Get all binned items by user in df (userID, config)
get_history(1, config)

Done.

  item_name  correct                time
0       cup        1 2020-01-19 06:18:50
1    orange        1 2020-01-19 06:18:50

In [20]:
# get number of consecutive days all items correctly binned by user (userID, config)
get_consecutive_days(1, config)

Done.

1