In [24]:
from datetime import datetime, timedelta, time
import pandas as pd
from matplotlib import pyplot as plt
import mysql.connector
from mysql.connector import errorcode
import json
import os
from sql_functions import *

In [25]:
with open('secret.json') as json_file:
    env_variables = json.load(json_file)
    os.environ['EMAIL_ADD'] = env_variables['EMAIL_ADD']
    os.environ['EMAIL_PASS'] = env_variables['EMAIL_PASS']
    os.environ['AZURE'] = env_variables['AZURE']
    os.environ['SQL_HOST'] = env_variables['SQL_HOST']
    os.environ['SQL_USER'] = env_variables['SQL_USER']
    os.environ['SQL_PASS'] = env_variables['SQL_PASS']
    os.environ['SQL_DB'] = env_variables['SQL_DB']

In [26]:
# Setup Config
config = {
  'host':os.environ.get('SQL_HOST'),
  'user':os.environ.get('SQL_USER'),
  'password':os.environ.get('SQL_PASS'),
  'database':os.environ.get('SQL_DB')
}

In [27]:
# Turn 'users' table to df
users_to_df(config)

   userID    name  consecutive_days
0       1  RaspPi                 1
1       2  BluePi                 0

In [28]:
# Turn 'users' table to df
items_to_df(config)

   item_ID     item_name  correct  userID                time
0       27           cup        1       1 2020-01-19 06:24:46
1       28        orange        1       1 2020-01-19 06:24:46
2       29  water_bottle        0       2 2020-01-19 06:24:46

In [29]:
# Clear all items and reset consecutive days counter for (userID, config)
clear_items(1, config)
clear_items(2, config)

Items Cleared.
Items Cleared.

In [30]:
# add item to list for a user (item_name, correct, userID, config)
add_item('cup', 1,  1, config)
add_item('orange', 1, 1, config)
add_item('water_bottle', 0, 2, config)

Item Added.
Item Added.
Item Added.

In [31]:
items_to_df(config)

   item_ID     item_name  correct  userID                time
0       30           cup        1       1 2020-01-19 06:29:29
1       31        orange        1       1 2020-01-19 06:29:30
2       32  water_bottle        0       2 2020-01-19 06:29:30

In [32]:
# Check if ALL items correctly binned in the last 'interval' minutes (userID, interval, config)
check_clean(1, 5, config)
check_clean(2, 5, config)
users_to_df(config)

Done.
Done.

   userID    name  consecutive_days
0       1  RaspPi                 1
1       2  BluePi                 0

In [33]:
# Get all binned items by user in df (userID, config)
get_history(1, config)

Done.

  item_name  correct                time
0       cup        1 2020-01-19 06:29:29
1    orange        1 2020-01-19 06:29:30

In [34]:
# get number of consecutive days all items correctly binned by user (userID, config)
get_consecutive_days(1, config)

Done.

1